*{
  padding: 0;
  margin: 0;
 background-color: orange;
}
body {
    font-size: 15pt;
}
.selection{
 background-color: white;
}
.selection::selection {
 color: red;
 background-color: greenyellow;
}
.heading{
  color: red;
  background-color: blue;
}
.content{
  background-color: black;
  border:2px solid magenta;
  color: blanchedalmond;
}
marquee{
  color: green;
  background-color: greenyellow;
}
.bold{
  color: skyblue;
  background-color: purple;
}
.bands{
  color: yellow;
  background-color:red;
}
.pret{
  color: red;
  background-color: green;
  border: 2px solid black;
  height: 200px;
  width: 700px;
}
.hrz{
  color: red;
  border: 5px solid black;
  padding: 50px;
}
 .name{
 color: wheat;
 border-bottom: 4px solid black;
 background-color: red;
 margin: 10px 280px 0px 10px;
 padding-left: 3px;
 background-image: url("/images.png");
 background-size: cover;
}
.log{
 color: red;
 border-bottom: 2px solid black;
 /*background-color: red;*/
 text-align: center;
 padding: 6px;
 margin: 30px;
 border-radius: 20px;
}

.input{
 color: wheat;
 border: 3px solid black ;
 height: 52px;
 width: 285px;
 padding-left: 10px;
 margin: 30px;
 text-decoration-color: red;
}
.input .n{
 background-color: red;
 width: 265px;
}
.input .p{
 background-color: red;
 width: 265px;
}
.radio{
 margin: 10px 10px 0px 10px;
 border-bottom: 2px solid black;
}
.cbox{
 margin-left: 10px;
 border: 2px dotted black;
 height: 70px;
 width: 200px;
 padding-left: 5px;
}
.syl{
 margin-left: 10px;
}
.feedback{
 margin-left: 10px;
}
.submit{
 margin-left: 10px;
 border-style: none;
 height: 25px;
 width: 60px;
 background-color: red;
 border-bottom: 5px solid black;
 
}
